<nav class="navbar">
  <a class="navbar-brand" href="/">Mongo<br>Agenda</a>
  
  <div>
    <button data-menu="botao" aria-expanded="false" aria-controls="menu">
      <i class="bi bi-list"></i>
    </button>
    <ul data-menu="lista" id="menu" class="navbar-nav"> 
      <% if(user) {%>
        <li class="nav-item">
          <a class="nav-link" href="/contato/index">Novo contato</a>
        </li>
        <% } %>
        <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login/logout">Sair</a>
          </li> 
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login/index">Entrar</a>
            </li>  
            <% } %>
            
            <li class="nav-item">
              <div class="sun-e-moon">
                <input type="checkbox" name="change-theme" id="change-theme">
                <label for="change-theme">
                  <i class="bi bi-sun"></i>
                  <i class="bi bi-moon"></i>
                </label>
              </div>
            </li>
            
          </ul>
        </div>
      </nav>